
body {
    background-color: black;
    background-image:  url("./img/emoji.png");
}
.container{
background-image: url("./img/window.png");
background-size: contain;
background-repeat: no-repeat;
width: 800px;
height: 800px;
margin:auto;
/*margin-top: 5%; for fun to push it down in a full webpage*/ 

}



h1 {
    color: blueviolet; 
    font-size: 4rem;
    padding-top: 6rem;
    
   
}

header {
    text-align: center;
}

.left-text {
    float: left;
    font-style: italic;
    color: blueviolet;
    text-align: center;
    display: flex;
    width: 50%;
    
 
}

.right-text {
    float: right;
    color:green;
    text-align: center;
    display: flex;
    width: 50%;
}


.bigger-text {
    font-size: 1.5rem;
}


hr {
    clear: both;
    width: 85%;
}

main {
    text-align: center;
    margin:1%
}

b {
    display: inline;
  
}

a {
    display: inline; 
   
}

a:hover {
    color: red; /* Change the link color to red when hovered */
  }